h1{
   text-align: center;
    margin: 25px 0;
}
div.for_wrap{
    text-indent: 1em;
   width:400px;
    min-height: 200px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 60px;
}
.for_wrap input{
    width:calc(100% - 40px);
    height: 40px;
    text-indent: 0.5em;
    margin: 15px 16px;
    font: 14px 'Microsoft yahei';
}
div.for_wrap>div:last-child{
    text-indent: 0;
    margin:20px 0;
}
input.for_btn{
    height:60px;
    background: #838281;
    color:#fff;
    font:25px/60px 'Microsoft yahei'
}

/*attention message*/
.for_wrap img{
    width:15px;
    height:15px;
    display:none;
    position: absolute;
    right:34px;
    top:47px;
    border-radius: 3px;
}
.for_wrap div{
    position: relative;
}
.for_wrap div p{
    position: absolute;
    right:30px;
    top:15px;
    font:13px 'Microsoft yahei';
    color:red;
    display: none;
}